body {
    background-color: #505050;
}

.welcome-text {
    color: #6600ff;
    font-weight: 900;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
}


.slider {
    margin: 40px;
    overflow: hidden;
    display: flex;
    aspect-ratio: 8 / 3;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}


.btn {
    border-radius: 50%;
    padding: 5px;
    border-color: #6600ff;
    background-color: #6600ff;
}

.btn:hover {
    background-color: white;
    border-color: white;
    cursor: pointer;
}

.btn:active {
    background-color: #505050;
}

a {
    text-decoration: none;
}

.bottom-items {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.texts a {
    flex: 1 0 100%;
    scroll-snap-align: start;
    color: white;
    visibility: hidden;
}



@media (min-width: 500px) and (max-width: 1023px) {
    .bottom-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .texts {
    }
}
